.faq-container {
    width: 80%;
    margin: auto;
    color: white;
}
.faq-text{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 2rem;
}
.faq-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.faq-question {
    font-size: 20px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.faq-item:hover .faq-question {
    color: #bbb;
}

.faq-answer {
    font-size: 16px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

.faq-item.active .faq-answer {
    opacity: 1;
    max-height: 500px;
    margin-top: 10px;
}
